/**
 * Cecilia Tong
 * Final Project
 * Dec 20, 2022
 * Food Recipe Search
 */

html,
body {
	height: 100%;
	width: auto;
	background-image: url(background.jpeg);
}

.feedback-form {
	list-style-position: relative;
	left: 350px;
	top: 10px;
}

.btn-send-feedback {
	background: #059649;
	color: white;
	height: 40px;
	width: 350px;
	font: bold15px arial, sans-serif;
	font-style: italic;
}

.btn-send-feedback:hover {
	background-color: #654f16;
	transition: 0.10s;
}

.btn-want-feedback {
	background: #797366;
	color: black;
	height: 40px;
	width: 350px;
	font: bold15px arial, sans-serif;
	font-style: italic;
	margin: 2% 0;
}

.btn-want-feedback:hover {
	background-color: #654f16;
	transition: 0.10s;
}

/* search button */
.btn-primary {
	background: #025428;
	color: white;
	height: 40px;
	width: 350px;
	font: bold15px arial, sans-serif;
	font-style: italic;
}

/* search button */
.btn-primary:hover {
	background-color: #654f16;
	transition: 0.10s;
}

/* search form */
.form-control {
	display: block;
	border-color: #654f16;
	border-width: medium;
	padding: auto;
	background-color: #e3decf;
	margin: 2% 0;
	height: 40px;
	font-weight:500;	
}

/* search form */
.form-control:hover {
	background-color: #ebb938;
	transition: 0.10s;
}

/*app header*/
.col-12 {
	list-style-position: relative;
	left: 320px;
	top: 20px;
}

/*input and button for search*/
.col-md-4 {
	list-style-position: relative;
	left: 350px;
	top: -10px;
}

/*list of recipes*/
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

/*list of recipes*/
.row {
	top: 40px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

h6 {
	color: rgb(6, 75, 6);
	font-style: bold;
}

input:valid {
	border: 1px solid lightseagreen
}